.icon-row {
    background-color: $red;
    padding: 38px 0 47px;
    color: $white;
    text-transform: uppercase;
    @include media('<tablet') {
        padding: 25px;
    }
    .icon-holder {
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .text {
            display: block;
            font-size: 18px;
            letter-spacing: 1px;
            @include media('<desktop') {
                font-size: 16px;
            }
            @include media('<tablet') {
                font-size: 14px;
                letter-spacing: -0.5px;
            }
        }
        img {
            vertical-align: top;
        }
    }
    .icon-item {
        padding: 0 30px;
        margin-bottom: 20px;
        @include media('<desktop') {
            padding: 0 10px;
        }
        @include media('<tablet') {
            width: 33.3%;
        }
        @include media('<phone') {
            width: 100%;
        }
    }
    .img-holder {
        height: 77px;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.description {
    position: relative;
    padding: 60px 0 104px;
    @include media('<widescreen') {
        padding-top: 30px;
    }
    @include media('<desktop') {
        padding: 20px 0 50px;
    }
    .position1 {
        position: absolute;
        top: 8%;
        left: -100px;
        transform: rotate(8deg);
        z-index: -1;
    }
    .col {
        float: left;
        &.w50 {
            width: 50%;
            @include media('<tablet') {
                width: 100%;
            }
        }
    }
    .left-side {
        padding: 136px 50px 15px 0;
        @include media('<widescreen') {
            padding: 50px 10px 10px;
        }
        @include media('<tablet') {
            padding: 15px 0 50px;
        }
        p {
            margin-bottom: 16px;
            @include media('<tablet') {
                margin-bottom: 7px;
            }
        }
        .h2 {
            margin-bottom: 52px;
            text-transform: uppercase;
            font-size: 27px;
            line-height: 1.4;
            @include media('<widescreen') {
                margin-bottom: 20px;
            }
            @include media('<tablet') {
                font-size: 20px;
            }
        }
        .red {
            color: $red;
        }
    }
    .right-side {
        @include media('<tablet') {
            padding: 20px 30px;
        }
        img {
            margin-top: -50px;
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }
}

.decoration-row {
    height: 130px;
    background-color: #afa39d;
    background-image: url('../images/illustration3.svg');
    background-size: 176px 50px;
    background-position: 0 center;
    background-repeat: repeat-x;
    animation-name: car;
    animation-duration: 30000s;
    @include media('<desktop') {
        height: 100px;
        background-size: 130px 40px;
    }
    @include media('<tablet') {
        height: 50px;
        background-size: 120px 30px;
    }
}

.gallery-holder {
    padding: 95px 0 81px;
    color: red;
    max-width: 750px;
    margin: 0 auto;
    @include media('<desktop') {
        padding: 45px;
    }
    .owl-item {
        width: 25%;
        text-align: center;
        padding: 0 15px;
        img {
            height: 97px;
            width: auto;
            vertical-align: top;
            display: inline-block;
            @include media('<desktop') {
                height: auto;
                max-height: 97%;
                width: auto;
            }
        }
    }
    .owl-nav {
        @extend %clearfix;
        position: absolute;
        top: 34%;
        width: 100%;
        left: 0;
        right: 0;
        font-size: 0;
        .owl-prev {
            @include animate(opacity);
            position: absolute;
            left: -185px;
            transform: translateY(-50%) rotate(45deg);
            font-size: 0;
            border: 8px solid $red;
            border-right: none;
            border-top: none;
            width: 50px;
            height: 50px;
            background-color: transparent;
            opacity: 1;
            &:hover {
                background-color: transparent;
                opacity: 0.7;
            }
            @include media('<widescreen') {
                left: -30px;
                width: 30px;
                height: 30px;
            }
        }
        .owl-next {
            @include animate(opacity);
            opacity: 1;
            position: absolute;
            transform: translateY(-50%) rotate(-135deg);
            right: -185px;
            width: 50px;
            height: 50px;
            font-size: 0;
            border: 8px solid $red;
            border-right: none;
            border-top: none;
            background-color: transparent;
            &:hover {
                background-color: transparent;
                opacity: 0.7;
            }
            @include media('<widescreen') {
                right: -30px;
                width: 30px;
                height: 30px;
            }
        }
    }
}

@keyframes car {
    0 {
        background-position: 0 center;
    }
    100% {
        background-position: 1000000px center;
    }
}

.home-page {
    position: relative;
    .position3 {
        position: absolute;
        bottom: -303px;
        left: 0;
        display: inline-block;
         @include media('<widescreen') {
            bottom:-322px;
            width: 200px;
         
         }
         @include media('<desktop') {
            bottom: -200px;
            width: 100px;
         }
                
    }
}
