@font-face {
    font-family: 'centrale_sans_boldbold';
    src: url('../fonts/centrale_sans_bold_0-webfont.woff2') format('woff2'),
         url('../fonts/centrale_sans_bold_0-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'centrale_sans';
    src: url('../fonts/centrale_sans_medium_0-webfont.woff2') format('woff2'),
         url('../fonts/centrale_sans_medium_0-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'fredoka';
    src: url('../fonts/fredokaone-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/fredokaone-regular_0-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}